# Deep Learning Framework
torch

# Hugging Face Libraries
datasets
tokenizers

# Metrics
sacrebleu

# Data Science & Plotting
matplotlib
pandas
numpy
scikit-learn

# Utilities
tqdm

# Jupyter Notebook
jupyter
ipykernel
